<nav class="navbar navbar-expand navbar-light bg-white px-4 shadow-lg">
  <!-- Right Icons -->
  <div class="container-fluid" style="margin: 0px 190px;">
    <div class="d-flex align-items-center me-auto">
      <a class="nav-link custom-nav-link" routerLink="/home" routerLinkActive="active"><i class="fa-solid fa-house"></i>
        Home</a>
      <a class="nav-link custom-nav-link" routerLink="/booksList" routerLinkActive="active"><i
          class="fa-solid fa-book"></i> Books List</a>
      <a class="nav-link custom-nav-link" routerLink="/myBooks" routerLinkActive="active">
        <i class="fa-solid fa-book-open-reader"></i> my Books</a>

    </div>

    <ul class="navbar-nav ms-auto d-flex align-items-center">

      <!-- User Info -->
      <li class="nav-item d-flex align-items-center">
        <span class="me-2 text-gray-600 small">Douglas McGee</span>
        <img class="rounded-circle" src="https://i.pravatar.cc/40?img=12" width="40" height="40" alt="User" />
      </li>
    </ul>
  </div>
</nav>